.App {
  text-align: center;
}
ul{
  width: 20%;
  margin: 0 auto;
}
button{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #252525;
  color: #ffffff;
  cursor: pointer;
}